body {
  min-height: 100vh;
  background-image: radial-gradient(#00FFFF, #0000FF);
}

div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 0 25% #
}

button {
  position: relative;
  width: 75px;
  height: 40px;
  border-radius: 2px;
  background-image: linear-gradient(180deg, #fff, #666666);
}

.button-play {
  border-radius: 25px 0px 0px 25px;
}
.button-stop {
  border-radius: 0px 25px 25px 0px;
}

span {
  float: left;
}

p {
  /*float: right;*/
  font-size: 1.5em;
}
