html {
  background: #fff;
}
body {
  margin: 0;
  height: 100vh;
  background: url("../images/aa.jpg") no-repeat center center;
  background-size: cover; /*반대는 contain*/
  font: 0.875rem/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

[class$="-box"] {
  position: absolute;
  width: 6.25rem;
  height: 3.125rem;
  background: hsla(0, 50%, 100%, 0.05);
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;

}

.utility-box {
  top: 0;
  left: 0;
}
.weather-box {
  top: 0;
  right: 0;
  font-size: 0.625rem; /*10px*/
}
.todo-box {
  bottom: 0;
  right: 0;
}
.info-box {
  left: 0;
  bottom: 0;
  font-size: 0.625rem; /*10px*/
}
.quote-box {
  /*width: 30%;*/
  width: 25rem;
  height: 3.125rem;
  left: 50%;
  bottom: 7px;
  /*margin-left: -25px;*/
  transform: translate(-50%);
}
.time-box {
  display: block;
  width: 400px;
  height: 80px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -175%);

}
.time-box h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -5px;
  font-size: 1125%;
}

img {
  width:0.6875rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}